body{ 
    overflow-x :hidden; 
    font-family: "Poppins", sans-serif;
    }

/* Navigation bar */

.customNav {
    position: fixed;
    width: 100%;
    background-color: #2a0332 !important;
    z-index: 10;
    font-size: 15px;
    color: white !important;
}

.customNav a {
    color: white !important;
  }

.customNav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}  

.navbar-brand {
    font-family: "Lobster", sans-serif;
    font-size: 25px;
    margin-left: 15px;
}

.customNav p {
    font-size: 18px;
    padding-top: 3px;
    margin: 0px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

/* Hero */

/* .container-fluid {
    margin: auto;
} */
 
.jumbotron {
    background-image: url(../images/purple-keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: calc(100vh - 20px);
    width: 105%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    text-align: left;
}


.jumbotron h1 {
    font-size: 70px;

}

.jumbotron p {
    font-size: 23px;
}

/* Project Cards section */

.row {
    justify-content: center;
}

.cardContainer {
    margin-bottom: 20px;    
}

.card-img-top {
    height: 240px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn-primary {
    background-color: #280333;
    border-color: #280333;
}

.card-body {
    height: 240px;
}

.card-text {
    height: 155px;
}

footer p {
    text-align: center;
    font-style: italic;
}


