/* Navigation bar */

.customNav {
    position: fixed;
    width: 100%;
    background-color: #2a0332 !important;
    z-index: 10;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white !important;
}

.customNav a {
    color: white !important;
  }

.customNav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}  

.navbar-brand {
    font-family: "Lobster", sans-serif;
    font-size: 25px;
    margin-left: 15px;
}

.customNav p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding-top: 3px;
    margin: 0px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

/* Hero */

.content-wrapper {
    margin: 50px;
}
 
.jumbotron {
    background-image: url(../images/purple-keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: calc(90vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    text-align: left;
}

.jumbotron h1 {
    font-family: "Poppins", sans-serif !important;
    font-size: 75px;
    font-weight: 100 ;
}

.jumbotron p {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
}

/* Project Cards section */
