:root {
    --main-dark: #2a0332;
    --main-light: #cb64ff;
    --gradient: linear-gradient(90deg, rgba(41,2,49,1) 0%, rgba(56,77,228,1) 0%, rgba(203,100,255,1) 100%);

}

body{ 
    overflow-x :hidden; 
    font-family: "Poppins", sans-serif;
    }


/* Navigation bar */

.customNav {
    position: fixed;
    width: 100vw;
    background-color: var(--main-dark) !important;
    z-index: 10;
    font-size: 15px;
    color: white !important;
}

.customNav a {
    color: white !important;
  }

.navbar-brand span {
    font-family: "Lobster", sans-serif;
    font-size: 25px;
    margin-left: 15px;
}

.customNav p {
    font-size: 18px;
    padding-top: 3px;
    margin: 0px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 15px !important;
}

.navbar-nav a:hover {
    color: var(--main-light) !important;
}
 
.jumbotron {
    background-image: url(../images/purple-keyboard-tiny.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    text-align: left;
    margin-bottom: 1rem;
}

.jumbotron img {
    background: linear-gradient(white, white) padding-box, linear-gradient(var(--main-dark), var(--main-light), #fbeb1d)border-box;
    border-radius: 50%;
    border: 5px solid transparent;
}

.jumbotron h1 {
    font-size: 70px;
}

.jumbotron p {
    font-size: 23px;
}


/* Content */

.container-fluid {
    margin-bottom: 1rem !important;
}


/* Project Cards section */

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-dark);
    font-weight:bold;
}

.row {
    justify-content: center;
}

.cardContainer {
    margin-bottom: 20px;  
}

.project-img {
    height: 240px;
    padding: 10px;
}

.project-body {
    display: flex;
    flex-direction: column;
    height: 240px;
}

.btn {
    background-color: var(--main-dark);
    border-color: var(--main-dark);
}

.project-txt {
    height: 155px;
}

.btn:hover {
    background-color: var(--main-light);
}


/* Skills section */

.skills-card {
    border-radius: 50%;
}

.skills-logo {
    height: 150px;
    width: 150px;
    margin: 50px auto;
}

.skills-title{
    font-weight: bold;
    text-align: center;
}


/* About me section */
#about {
    margin: 20px;
    padding: 20px;
    background-color: var(--main-dark);
    color: white;
    text-align: justify;
}

#about h2 {
    text-align: left;
    color: white;
}

/* Footer section */
#contact {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

ul {
    padding: 0px;
}

li {
    margin: 20px;
}

i {
    color: var(--main-dark);
}

i:hover {
    color: var(--main-light);
    font-size: x-large;
} 

footer p {
    text-align: center;
    font-style: italic;
    font-size: 15px;
}


